# Modul 1: Pengenalan Dasar Statistik dan Software

#### Objectives Praktikum

1. Praktikan mampu memahami prinsip-prinsip dasar statistik
2. Praktikan mampu memahami dan membedakan jenis data serta pengukurannya dalam statistik
3. Praktikan mampu melakukan input/import dan mempersiapkan data untuk analisis statistik pada Stata dan Jupyter

## Review Teori

Perencanaan merupakan proses kontinyu, berputar dalam pembuatan keputusan, yang akan melibatkan pekerjaan melalui serangkaian tahap-tahap yang dihubungkan dalam cara sistematik dan berurutan supaya mencapai keputusan yang lebih baik dan rasional (Conyer dan Hills, 1984). Dalam proses tersebut, para perencana harus mengenali karakteristik spesifik wilayah dan kota, baik pada masa lalu, masa sekarang, maupun kecenderungannya di masa depan, sebagai dasar untuk memutuskan tindakan yang terbaik bagi perkembangannya. Oleh karena itu metode analisis perencanaan merupakan sekumpulan teknik atau alat yang membantu perencana untuk melakukan analisis dalam mendukung proses perencanaan wilayah dan kota. Salah satu teknis analisis yang dilakukan dalam perencanaan adalah analisis statistik.

Analisis statistik adalah suatu metode analisis yang mencakup pengumpulan data, pengorganisasian data dan interpretasi data melalui suatu prosedur tertentu. Lingkup analisis statistik terdiri dari:
* **Reduksi Data** <br>
Teknik ini dilakukan untuk membuat data menjadi lebih sederhana, tapi tetap mempunyai nilai penting. Metode untuk analisis ini adalah metode analisis statistik deskriptif. Metode ini merupakan suatu metode analisis yang kesimpulan populasinya diambil dari data populasi atau kesimpulan sampelnya diambil dari data sampel.
* **Inferensial** <br>
Teknik ini dilakukan untuk memperkirakan nilai populasi berdasarkan nilai sampel yang ada. Metode untuk analisis ini adalah metode analisis statistik inferensial. Metode ini merupakan suatu metode analisis yang kesimpulan populasinya diambil dari data sampel (bagian dari keseluruhan).
* **Asosiasi** <br>
Teknik ini dilakukan untuk mengetahui hubungan antarvariabel, yaitu variabel dependen dan independen. Metode untuk analisis ini adalah metode analisis statistik asosiasi. Metode ini merupakan suatu metode analisis untuk mencari hubungan antarvariabel yang ada.

Sementara data menurut skala pengukurannya terbagi menjadi 4 jenis (Kachigan, 1986; Healey, 2012), yaitu:
* **Skala nominal** yang mengklasifikasikan objek amatan untuk menunjukkan kesamaan atau perbedaan ciri-ciri tertentu dari objek. Skala pengukuran ini dilambangkan dengan angka atau huruf dengan tidak mengandung nilai, tidak mengungkapkan perbandingan/peringkat, dan tidak dapat dilakukan pengolahan matematika
* **Skala ordinal** yang mengklasifikasikan objek amatan untuk menunjukkan tingkatan atau peringkat tertentu dari objek. Skala pengukuran ini dilambangkan dengan angka atau huruf dengan tidak mempunyai satuan ukur dan rentangnya tidak harus sama
* **Skala interval** yang diperoleh sebagai hasil suatu pengukuran dan biasanya mempunyai satuan pengukuran. Skala pengukuran ini mempunyai titik nol sembarang dan tidak mutlak, sehingga tidak dapat diintepretasikan secara penuh besarnya skor dari rasio tertentu. Data skala interval diberikan apabila kategori yang digunakan bisa dibedakan, diurutkan dan mempunyai jarak tertentu, tetapi tidak bisa dibandingkan.
* **Skala rasio** yang ditujukan kepada hasil pengukuran yang bisa dibedakan, diurutkan, mempunyai jarak tertentu dan bisa dibandingkan. Angka pada skala rasio menunjukkan nilai yang sebenarnya dari objek yang diukur dan menggunakan titik nol mutlak.

## Pengenalan Stata

Stata adalah paket perangkat lunak analisis data yang mudah digunakan namun memiliki kemampuan yang kuat untuk
1. Analisis statistik
2. Manajemen dan manipulasi data
3. Visualisasi data

Stata juga menawarkan beragam alat statistik yang mencakup metode standar dan metode yang lebih baru dan canggih, karena rilis baru Stata didistribusikan setiap tahun. Stata tersedia untuk komputer Windows, Mac, dan Unix. Praktikum ini dibuat dengan menggunakan versi Windows, tetapi semua kode yang ditampilkan di sini dapat dijalankan di ketiga platform tersebut. Ada tiga edisi: (1) Stata/BE, edisi dasar (sebelumnya intercooled), cocok untuk dataset ukuran menengah dengan hingga 2048 variabel, (2) Stata/SE, edisi standar (sebelumnya edisi khusus), dapat menangani hingga 32.766 variabel serta string dan matriks yang lebih panjang, dan (3) Stata/MP, sebuah edisi untuk komputer multicore/multiprosesor yang memungkinkan pemrosesan dataset yang sangat besar dan jauh lebih cepat. (Dua sebutan pertama berubah dengan Stata 17.) Jumlah pengamatan dibatasi oleh memori komputer Anda, selama tidak melebihi sekitar dua miliar dalam Stata/SE dan sekitar satu triliun dalam Stata/MP. Mulai dari versi 16, Stata hanya dapat diinstal pada komputer 64-bit; versi sebelumnya tersedia untuk komputer 32-bit dan 64-bit yang lebih baru. Semua versi ini dapat membaca file satu sama lain dalam batas ukurannya.

### Tampilan Stata

![Tampilan Stata 18](https://grodri.github.io/stata/stata18.png)

Stata memiliki empat jendela utama, yaitu:
* **Command**: Jendela yang berfungsi untuk memasukkan perintah.
* **Result**: Bagian terbesar tepat di atas bagian **command**. Berfungsi untuk menampilkan hasil perintah.
* **Review**: Jendela yang berfungsi untuk menampilkan history command-command yang telah digunakan.
* **Variables**: Berisi daftar variabel dalam dataset
* **Properties**: Menampilkan detail properti dari variabel dataset

Dimulai dengan versi 8 antarmuka pengguna grafis (GUI) Stata memungkinkan pemilihan perintah dan opsi dari menu dan sistem dialog. Namun, praktikan sangat disarankan untuk menggunakan bahasa perintah sebagai cara untuk memastikan reproduksibilitas hasil Anda, serta menyimpan perintah pada file terpisah, yang disebut **file do**. Selain itu, dalam konteks praktikum ini, praktikan juga diarahkan untuk menggunakan **jupyter** untuk memudahkan proses reporting analisis.

### Do-Files

Stata do-file adalah file teks di mana pengguna dapat menyimpan dan menjalankan perintah mereka untuk digunakan kembali, daripada mengetik ulang perintah ke dalam jendela Command.
* Reproducibility
* Kemudahan debugging
* Nama ekstensi file: `.do`

Fitur Do-Files ini dapat dibuka menggunakan command:
```stata
doedit
```

Atau bisa melalui icon do-file pada menu bar. 

![Menu do-file](img/do-file-menu.png)

**Syntax Highlighting**
![Syntax](img/do-file-editor.jpg)

* Editor do-file mewarnai perintah-perintah Stata dengan warna biru.
* Komentar, yang tidak dieksekusi, biasanya diawali dengan `*`, `//`, `/*`, `*/` dan diberi warna hijau
    
* Kata-kata dalam tanda kutip (nama file, nilai string) diberi warna "merah"

Untuk menjalankan perintah dari do-file, *highlight* sebagian atau seluruh perintah, lalu tekan `Ctrl-D` (Mac: `Shift+Cmd+D`) atau ikon "Execute(do)", ikon paling kanan pada bilah alat editor do-file.

Bisa memilih lebih dari 1 baris command untuk dijalankan.

**Comments**

Komentar tidak dieksekusi -> untuk dokumentasi file do (atau cell notebook yang akan dibahas di bagian lain)

Komentar diawali dengan `*` atau diapit oleh `/*` dan `*/`, untuk inline (bisa sebaris dengan command) bisa menggunakan `//`

Komentar akan muncul dalam warna hijau di editor do-file.

```stata
* komen 1
/* 
komen 2
asdasd
*/
doedit //ini buat buka dofile
```

**Long Lines**

Stata biasanya akan mengasumsikan bahwa sebuah baris baru menandakan akhir dari sebuah command

Anda dapat memperpanjang perintah lebih dari beberapa baris dengan menempatkan `///` di akhir setiap baris kecuali baris terakhir
Pastikan untuk memberi spasi sebelum `///`

Saat mengeksekusi, highlight setiap baris dalam perintah

```stata
summarize weight ///
    height
```

## Pengenalan Jupyter

JupyterLab menyediakan blok bangunan yang fleksibel untuk komputasi interaktif dan eksploratif. Meskipun JupyterLab memiliki banyak fitur yang ditemukan di lingkungan pengembangan terintegrasi (IDE) tradisional, JupyterLab tetap berfokus pada komputasi interaktif dan eksploratif.

Untuk mengenal jupyter lebih jauh (terutama JupyterLab yang digunakan dalam praktikum ini), praktikan dapat membaca dokumentasi resmi yang dikeluarkan oleh jupyter. Tulisan-tulisan ini wajib dipahami.

* [JupyterLab Interface](https://jupyterlab.readthedocs.io/en/stable/user/interface.html)
* [JupyterLab Files](https://jupyterlab.readthedocs.io/en/stable/user/files.html)
* [Notebooks in JupyterLab](https://jupyterlab.readthedocs.io/en/stable/user/notebook.html)
* [File & Output Formats](https://jupyterlab.readthedocs.io/en/stable/user/file_formats.html)
* [Table of Contents](https://jupyterlab.readthedocs.io/en/stable/user/toc.html)

Keempat dokumentasi tersebut penting untuk tugas akhir setiap praktikum nantinya. Jika ingin eksplorasi lebih, bisa dilakukan secara mandiri.

### Cheatsheet Markdown

Markdown adalah bahasa markup ringan yang digunakan untuk memformat teks dalam dokumen. Ini adalah cara yang sangat baik untuk membuat laporan analisis data yang rapi dan mudah dibaca di Jupyter Notebook. Maka dari itu, praktikan harus bisa menggunakan markdown dengan baik.

Panduan markdown bisa dilihat pada file `markdown-cheat-sheet.md`

### Kenapa harus Jupyter? Do-file apa tidak cukup?

* Alasan utamanya adalah **interaktif, fleksibel, dan reproduksibilitas**. Jupyter Notebook memungkinkan Anda menjalankan kode dan melihat outputnya secara interaktif. Ini sangat berguna saat Anda ingin menjalankan perintah Stata langkah demi langkah dan melihat hasilnya segera. Selain itu, karena semua langkah dan kode disimpan dalam satu dokumen, analisis Anda menjadi lebih mudah direproduksi oleh orang lain atau di waktu yang berbeda.

* **Integrasi Kode dan Laporan**: Dalam satu dokumen Jupyter Notebook, Anda dapat menyatukan kode, output grafik, tabel, dan penjelasan dalam format yang mudah dibaca. Ini memungkinkan Anda untuk membuat laporan yang jelas dan rapi tentang analisis Anda tanpa perlu beralih antara berbagai aplikasi.

* **Dokumentasi Proses Analisis**: Dengan menulis penjelasan dan komentar di antara sel kode, Anda secara efektif mendokumentasikan proses analisis Anda. Ini sangat berguna jika Anda perlu kembali ke analisis tersebut di masa depan atau jika Anda ingin berbagi hasil analisis dengan kolega atau atasan.

* **Lintas Platform dan Pembagian Mudah**: Jupyter Notebook mendukung banyak bahasa pemrograman dan kernel, termasuk Stata. Ini berarti Anda dapat menggabungkan berbagai bahasa dan alat analisis dalam satu dokumen. Anda juga dapat dengan mudah membagikan notebook Anda dengan orang lain, memfasilitasi kolaborasi dan diskusi.

* Jupyter Notebook tidak hanya terbatas pada analisis data. Anda dapat menggunakan Markdown untuk membuat laporan, menjelaskan konsep, dan bahkan menyisipkan matematika dengan notasi LaTeX. Ini memungkinkan Anda untuk membuat laporan yang lebih kaya secara visual dan konseptual.

Dengan menggabungkan keunggulan Jupyter Notebook dengan kernel Stata, Anda dapat mengoptimalkan proses analisis data Anda, membuat laporan yang lebih baik, dan meningkatkan efisiensi dan efektivitas dalam pekerjaan Anda.

## *Penggunaan Stata Kernel pada Jupyter*

Bagian ini sudah masuk pada hands-on command stata.

### Importing Data

* `use` load dataset
* `save` menyimpan dataset
* `clear` menghapus dataset dari memory
* `import excel` import file excel menjadi dataset
* `import delimeted` import file delimeter (csv) menjadi dataset

Data yang diimport akan tersimpan dalam format stata, yaitu file `.dta`. Membuka file ini (klik 2 kali di Windows), akan membuka instance/sesi Stata baru (bukan instance/sesi yang sedang digunakan)

#### Load and saving .dta files
Perintah ini digunakan untuk memuat file Stata .dta

In [2]:
* membuka dataset .dta
use "data/data_likert.dta"

Untuk melihat apakah data sudah berhasil disimpan di memory stata, bisa melihat sebagian data menggunakan `%head` atau `%tail` tanpa ada comment apapun. Perintah ini khusus untuk stata kernel pada jupyter ini. Tidak berlaku digunakan langsung di halaman GUI Stata.

In [3]:
%head 5

     +-------------------------------------------+
     | peta_a~n      jam_puncak       permukiman |
     |-------------------------------------------|
  1. |        3     16.00-18.00          Penting |
  2. |        4     04:00-05:00          Penting |
  3. |        4     04:05-05:00   Sangat penting |
  4. |        4     05:00-08:00          Penting |
  5. |        3   05:30 - 08:00          Penting |
     +-------------------------------------------+

In [4]:
save "data/data_likert", replace

file data/data_likert.dta saved

Opsi replace akan menimpa file yang sudah ada dengan nama yang sama (tanpa replace, Stata tidak akan menyimpan jika file tersebut sudah ada).

Ekstensi .dta dapat dihilangkan ketika menggunakan gunakan dan simpan

#### Clearing memory

Stata hanya akan menyimpan satu set data dalam memori pada satu waktu, memori harus dikosongkan sebelum data baru dapat dimuat.

Perintah `clear` akan menghapus kumpulan data dari memori.

Perintah impor data seperti `use` sering kali memiliki opsi `clear` yang menghapus memori sebelum memuat dataset baru

In [5]:
clear //clear data dari memori

In [6]:
use "data/data2.dta"

In [7]:
%head 5

     +----------------------------------------------------------------------+
  1. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t  |
     |  55555555  |  Drugs are Yummy in My Tummy  |  .5126582  |  .4754098  |
     |----------------------------------------------------------------------|
     |                   prov_str |          prov_city | prov_st | prov_c~d |
     |              1 Central Ave | Another Rural Town |      NY |        8 |
     |----------------------------------------------------------------------|
     |    Chain     |     Treated     |     Treate~n     |     Contro~n     |
     |       No     |           0     |            .     |            .     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t  |
     |  56134687  |          Streetcorner Dealer  |         .  |  .4893112  |
     |----------------------------------------------------------------------|
     |                   prov_str |          prov_city | prov_st | prov_c~d |
     | Ho Hum More Fake Addresses |           Syracuse |      NY |       14 |
     |----------------------------------------------------------------------|
     |    Chain     |     Treated     |     Treate~n     |     Contro~n     |
     |       No     |           0     |            .     |            .     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t  |
     |  26122543  |      Cheap Cheap Cheap Drugs  |   .839196  |  .6074498  |
     |----------------------------------------------------------------------|
     |                   prov_str |          prov_city | prov_st | prov_c~d |
     |  I'm Out of Fake Addresses |           Syracuse |      NY |       14 |
     |----------------------------------------------------------------------|
     |    Chain     |     Treated     |     Treate~n     |     Contro~n     |
     |       No     |           0     |            .     |            .     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t  |
     |  12344321  |       I'm a Big, Scary Chain  |    .99943  |    .65432  |
     |----------------------------------------------------------------------|
     |                   prov_str |          prov_city | prov_st | prov_c~d |
     |                            |           Brooklyn |      NY |       55 |
     |----------------------------------------------------------------------|
     |    Chain     |     Treated     |     Treate~n     |     Contro~n     |
     |      Yes     |           0     |            1     |            0     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t  |
     |  55556666  |                   Drugs R Us  |  .5653432  |         .  |
     |----------------------------------------------------------------------|
     |                   prov_str |          prov_city | prov_st | prov_c~d |
     |                   Whatever |      Whateverville |      NY |        6 |
     |----------------------------------------------------------------------|
     |    Chain     |     Treated     |     Treate~n     |     Contro~n     |
     |      Yes     |           0     |            0     |            1     |
     +----------------------------------------------------------------------+

In [8]:
use "data/data3.dta", clear

In [9]:
%head 5

     +-----------------------------------------------------------------------+
  1. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t   |
     |  43260054  |    Yo, I'm a Sample Pharmacy  |  .8333333  |  .7321063   |
     |--------------------------------------------+--------------------------|
     |              prov_str |          prov_city | prov_st | county | Chain |
     |       135 Western Ave |             Albany |      NY |      1 |    No |
     |-----------------------------------------------------------------------|
     | Treated | Treate~n | Contro~n | InChain | Region | High_ZF | High_Z~e |
     |       1 |        . |        . |       0 |      2 |       1 |        0 |
     |-----------------------------------------------------------------------|
     |                                Delta_ZF                               |
     |                                -.101227                               |
     +-----------------------------------------------------------------------+

     +-----------------------------------------------------------------------+
  2. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t   |
     |   4578891  |         Prof Purtell is Mean  |         1  |         1   |
     |--------------------------------------------+--------------------------|
     |              prov_str |          prov_city | prov_st | county | Chain |
     |       Beyond the Pale |             Albany |      NY |      1 |    No |
     |-----------------------------------------------------------------------|
     | Treated | Treate~n | Contro~n | InChain | Region | High_ZF | High_Z~e |
     |       1 |        . |        . |       0 |      2 |       1 |        1 |
     |-----------------------------------------------------------------------|
     |                                Delta_ZF                               |
     |                                       0                               |
     +-----------------------------------------------------------------------+

     +-----------------------------------------------------------------------+
  3. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t   |
     |  23459871  |  Dr. Weinberg is Your Friend  |  .6321345  |   .123876   |
     |--------------------------------------------+--------------------------|
     |              prov_str |          prov_city | prov_st | county | Chain |
     |       213b Milne Hall |             Albany |      NY |      1 |    No |
     |-----------------------------------------------------------------------|
     | Treated | Treate~n | Contro~n | InChain | Region | High_ZF | High_Z~e |
     |       1 |        . |        . |       0 |      2 |       0 |        0 |
     |-----------------------------------------------------------------------|
     |                                Delta_ZF                               |
     |                               -.5082585                               |
     +-----------------------------------------------------------------------+

     +-----------------------------------------------------------------------+
  4. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t   |
     |  55555555  |  Drugs are Yummy in My Tummy  |  .5126582  |  .4754098   |
     |--------------------------------------------+--------------------------|
     |              prov_str |          prov_city | prov_st | county | Chain |
     |         1 Central Ave | Another Rural Town |      NY |      8 |    No |
     |-----------------------------------------------------------------------|
     | Treated | Treate~n | Contro~n | InChain | Region | High_ZF | High_Z~e |
     |       0 |        . |        . |       0 |      1 |       0 |        0 |
     |-----------------------------------------------------------------------|
     |                                Delta_ZF                               |
     |                               -.0372484                               |
     +-----------------------------------------------------------------------+

     +-----------------------------------------------------------------------+
  5. |   prov_id  |                    prov_name  |  ZeroFi~e  |  ZeroFi~t   |
     |  31954623  |    Madeup Pharmacy of Albany  |  .6148649  |  .4185393   |
     |--------------------------------------------+--------------------------|
     |              prov_str |          prov_city | prov_st | county | Chain |
     | 1600 Pennsylvania Ave |              BRONX |      NY |     57 |    No |
     |-----------------------------------------------------------------------|
     | Treated | Treate~n | Contro~n | InChain | Region | High_ZF | High_Z~e |
     |       1 |        . |        . |       0 |      3 |       0 |        0 |
     |-----------------------------------------------------------------------|
     |                                Delta_ZF                               |
     |                               -.1963256                               |
     +-----------------------------------------------------------------------+

#### Importing Excel Data

Stata dapat membaca kumpulan data yang disimpan dalam banyak format lain, termasuk excel.

Perintah `import excel` digunakan untuk mengimpor data Excel

Nama file Excel diperlukan (dengan path, jika tidak berada di direktori kerja) setelah kata kunci menggunakan

Gunakan opsi `sheet()` untuk membuka sheet tertentu

Gunakan opsi `firstrow` jika nama variabel berada di baris pertama lembar Excel.

In [10]:
import excel using "data/data_sosdem.xlsx", sheet("data") firstrow clear

(23 vars, 14 obs)

In [11]:
%head 5

     +-------------------------------------------------------------------------+
  1. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   26  | Laki-laki  |   Menikah  |          Jl. Cihanjuang  |     03/18  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Cibabat  | Cimahi Utara  |              Kota Cimahi  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          0   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     | Karyawan Swasta (Full-time)  | Gojek, Grab, Indriver  |        2-4 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       1-3 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  2. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   52  | Laki-laki  |   Menikah  |     Jalan A.H. Nasution  |     02/02  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     | Cipadung Wetan  |  Panyileukan  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          0   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                Wirausahawan  |           Gojek, Grab  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  3. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   35  | Laki-laki  |   Menikah  |    Jl. Sederhana No. 29  |     04/10  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Pasteur  |     Sukajadi  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          1   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  4. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   70  | Laki-laki  |   Menikah  |  Jl. Gegerkalong Girang  |     02/01  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |    Gegerkalong  |     Sukasari  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          0   |         2   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |              Ya        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  5. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   41  | Laki-laki  |   Menikah  |       Jl. Sersan Bajuri  |     03/07  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |      Cihideung  |   Parongpong  |  Kabupaten Bandung Barat  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          0   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       7-9 tahun        |              Ya        |
     +-------------------------------------------------------------------------+

#### Import .csv file

File yang berisi nilai-nilai yang dipisahkan oleh koma (comma-seperated/delimeted) juga umum digunakan untuk menyimpan data.

 Gunakan `import delimited` untuk membaca file `.csv` (dan file delimeted oleh karakter lain seperti tab atau spasi).

In [12]:
import delimited using "data/data_likert.csv", clear

(encoding automatically selected: ISO-8859-1)
(3 vars, 22 obs)

In [13]:
%head 5

     +-------------------------------------------+
     | apakah~a   menurutanda~w   seberapapent~t |
     |-------------------------------------------|
  1. |        3     16.00-18.00          Penting |
  2. |        4     04:00-05:00          Penting |
  3. |        4     04:05-05:00   Sangat penting |
  4. |        4     05:00-08:00          Penting |
  5. |        3   05:30 - 08:00          Penting |
     +-------------------------------------------+

Untuk memasukkan data ke dalam Stata dengan baik, pastikan data dalam file Excel atau .csv Anda memiliki properti berikut:

1. Setiap kolom (variabel) seharusnya memiliki jumlah baris (observasi) yang sama.
2. Tidak ada grafik, jumlah, atau rata-rata dalam file tersebut.
3. Missing data sebaiknya dibiarkan sebagai bidang kosong.
    * Missing data seperti -999 juga diperbolehkan
    * Akan dibahas di bagian berikutnya
4. Nama variabel seharusnya hanya mengandung karakter alfanumerik atau _ atau .
5. Jadikan sebanyak mungkin variabel sebagai tipe data numerik.
    * Banyak perintah Stata hanya akan menerima variabel numerik.

### Help Files

Help files sangat berguna untuk mengetahui penjelasan detail terkait penggunaan command-command yang ada di stata. Berikut adalah cara untuk menampilkan help files.

```stata
help command 
```

Dalam kasus ini diberikan contoh untuk melihat penjelasan terkait commmand `summarize` pada help files

In [13]:
help summarize

Akan muncul halaman dokumentasi command `summarize` seperti ini.

![Help Viewer](img/help.jpg)

Dalam file tersebut terdapat beberapa informasi penting, yaitu:
* Nama perintah dan deskripsi singkat
* Link to .pdf untuk file manual command yang ingin dilihat (dalam konteks ini adalah `summarize`)
    * Entri manual mencakup rincian tentang metode dan rumus yang digunakan untuk perintah estimasi, dan contoh-contoh yang dijelaskan secara menyeluruh.

Selain itu, dalam stata_kernel ini juga dapat menampilkan Stata GUI untuk melakukan perintah melalui tampilan stata secara langsung. Namun, cara ini sangat tidak dianjurkan karena praktikum ini bertujuan untuk membiasakan praktikan menggunakan command line.

In [14]:
%show_gui

In [15]:
%hide_gui

Perintah ini hanya bekerja untuk windows.

## *Getting to Know Your Data*

### Viewing data

Terdapat 2 cara untuk menampilkan data. Menggunakan perintah magic untuk menampilkannya dalam bentuk html dan output ke console.

In [14]:
use "data/data_likert", clear

**Penggunaan menggunakan magic command (%)**

Menampilkan seluruh data pada notebook

In [15]:
%browse

     +--------------------------------------------+
     | peta_a~n       jam_puncak       permukiman |
     |--------------------------------------------|
  1. |        3      16.00-18.00          Penting |
  2. |        4      04:00-05:00          Penting |
  3. |        4      04:05-05:00   Sangat penting |
  4. |        4      05:00-08:00          Penting |
  5. |        3    05:30 - 08:00          Penting |
     |--------------------------------------------|
  6. |        4    05:30 - 08:00          Penting |
  7. |        5    05:30 - 21:00   Sangat penting |
  8. |        4    05.00 - 08.00   Sangat penting |
  9. |        3      05.00-06.00          Penting |
 10. |        4     06:0 - 08:00    Tidak penting |
     |--------------------------------------------|
 11. |        3    06:00 - 07:00   Sangat penting |
 12. |        2    06:00 - 07:30   Sangat penting |
 13. |        4    06:00 - 07:30          Penting |
 14. |        2    06:00 - 08:00   Sangat penting |
 15. |        5    06:00 - 08:00          Penting |
     |--------------------------------------------|
 16. |        2    06:00 - 08:00    Tidak penting |
 17. |        1    06:00 - 08:00   Sangat penting |
 18. |        2    06:00 - 08:00          Penting |
 19. |        4    06:00 - 08:00          Penting |
 20. |        4    06:00 - 08.00           Netral |
     |--------------------------------------------|
 21. |        4    06:00 - 09:00          Penting |
 22. |        1   06:00 - 09:00,    Tidak penting |
     +--------------------------------------------+

Menampilkan sebagian data dengan head and tail

In [16]:
%head 2

     +------------------------------------+
     | peta_a~n     jam_puncak   permuk~n |
     |------------------------------------|
  1. |        3    16.00-18.00    Penting |
  2. |        4    04:00-05:00    Penting |
     +------------------------------------+

In [17]:
%tail 2

     +-------------------------------------------+
     | peta_a~n       jam_puncak      permukiman |
     |-------------------------------------------|
 21. |        4    06:00 - 09:00         Penting |
 22. |        1   06:00 - 09:00,   Tidak penting |
     +-------------------------------------------+

Penggunaan magic command bisa dilihat detailnya pada halaman ini https://kylebarron.dev/stata_kernel/using_stata_kernel/magics/

**Menampilan data pada console**

In [18]:
list peta_acuan jam_puncak in 1/5

     +--------------------------+
     | peta_a~n      jam_puncak |
     |--------------------------|
  1. |        3     16.00-18.00 |
  2. |        4     04:00-05:00 |
  3. |        4     04:05-05:00 |
  4. |        4     05:00-08:00 |
  5. |        3   05:30 - 08:00 |
     +--------------------------+

* Perintah list mencetak observasi ke stata console
* Cukup dengan mengeluarkan `list` akan membuat daftar semua pengamatan dan variabel
* Biasanya tidak direkomendasikan kecuali untuk dataset kecil
* Tentukan nama variabel untuk mencantumkan hanya variabel-variabel tersebut

### Selecting data

Terdapat 2 pendekatan dalam memilih atau selecting data, yaitu melalui *observation number* dan kondisional

**Selecting by observation number**

Proses selecting ini menggunakan perintah `in` di dalamnya. Berikut adalah contohnya.

In [19]:
li jam_puncak in 15/L // li merupakan bentuk singkat dari list

     +----------------+
     |     jam_puncak |
     |----------------|
 15. |  06:00 - 08:00 |
 16. |  06:00 - 08:00 |
 17. |  06:00 - 08:00 |
 18. |  06:00 - 08:00 |
 19. |  06:00 - 08:00 |
     |----------------|
 20. |  06:00 - 08.00 |
 21. |  06:00 - 09:00 |
 22. | 06:00 - 09:00, |
     +----------------+

* `in` memilih baris berdasarkan nomor
* Syntax
    * `in firstobs/lastobs`
        * 30/100  row 30 hingga 100
    * Angka negatif menandakan perhitungan baris dimulai dari paling akhir
    * `L` berarti row terakhir
        *-10/L  10 row dari terakhid hingga row terakhir

**Selecting by condition**

Proses selecting ini menggunakan perintah `if` di dalamnya. Berikut adalah contohnya.

In [20]:
li peta_acuan jam_puncak permukiman if peta_acuan > 3

     +-------------------------------------------+
     | peta_a~n      jam_puncak       permukiman |
     |-------------------------------------------|
  2. |        4     04:00-05:00          Penting |
  3. |        4     04:05-05:00   Sangat penting |
  4. |        4     05:00-08:00          Penting |
  6. |        4   05:30 - 08:00          Penting |
  7. |        5   05:30 - 21:00   Sangat penting |
     |-------------------------------------------|
  8. |        4   05.00 - 08.00   Sangat penting |
 10. |        4    06:0 - 08:00    Tidak penting |
 13. |        4   06:00 - 07:30          Penting |
 15. |        5   06:00 - 08:00          Penting |
 19. |        4   06:00 - 08:00          Penting |
     |-------------------------------------------|
 20. |        4   06:00 - 08.00           Netral |
 21. |        4   06:00 - 09:00          Penting |
     +-------------------------------------------+

* `if` memilih row yang sesuai dengan kondisi yang diinginkan
* `if` biasanya disimpan setelah command selecting terkait namun tetap sebelum koma yang mengatur opsi-opsi tambahan

Berikut adalah operator logika dan relasi yang biasa digunakan dalam perintah *conditional* ini.

* `==`, sama dengan (membandingkan 2 nilai), berbeda dengan `=` yang berfungsi untuk assign suatu nilai.
* `<` (kurang dari), `>` (lebih dari), `<=` (kurang dari sama dengan), `>=` (lebih dari sama dengan)
* `!` logika negasi atau kebalikannya
    * `!=` tidak sama dengan
* `&` and (keduanya benar)
* `|` or (salah satu benar)

In [21]:
%browse peta_acuan jam_puncak if permukiman == "Netral" | peta_acuan > 3

     +--------------------------+
     | peta_a~n      jam_puncak |
     |--------------------------|
  2. |        4     04:00-05:00 |
  3. |        4     04:05-05:00 |
  4. |        4     05:00-08:00 |
  6. |        4   05:30 - 08:00 |
  7. |        5   05:30 - 21:00 |
     |--------------------------|
  8. |        4   05.00 - 08.00 |
 10. |        4    06:0 - 08:00 |
 13. |        4   06:00 - 07:30 |
 15. |        5   06:00 - 08:00 |
 19. |        4   06:00 - 08:00 |
     |--------------------------|
 20. |        4   06:00 - 08.00 |
 21. |        4   06:00 - 09:00 |
     +--------------------------+

### Exploring Data

**describe**: berfungsi untuk melihat informasi terkait dataset. Berikut adalah informasi yang ditampilkan oleh perintah describe:

* nama variabel
* jenis variabel atau data
* format penampilan data
* label value yang digunakan
* label variabel yang digunakan

In [22]:
describe peta_acuan jam_puncak permukiman

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
peta_acuan      byte    %8.0g                 Preferensi driver terhadap peta
                                                potensi pesanan
jam_puncak      str14   %14s                  Rentang jam puncak pelayanan
permukiman      str14   %14s                  Preferensi lokasi permukiman

**codebook**: berfungsi untuk melihat informasi-informasi terkait nilai dalam suatu variabel.

* Untuk semua variabel
    * Jumlah nilai unik dan nilai yang hilang
* Untuk variabel numerik
    * rentang, kuantil, rata-rata, dan deviasi standar untuk variabel kontinu
    * frekuensi untuk variabel diskrit
* Untuk variabel string
    * frekuensi
    * peringatan tentang bagian kosong di depan dan di belakang

In [23]:
codebook peta_acuan jam_puncak permukiman

--------------------------------------------------------------------------------
peta_acuan                       Preferensi driver terhadap peta potensi pesanan
--------------------------------------------------------------------------------

                  Type: Numeric (byte)

                 Range: [1,5]                         Units: 1
         Unique values: 5                         Missing .: 0/22

            Tabulation: Freq.  Value
                            2  1
                            4  2
                            4  3
                           10  4
                            2  5

--------------------------------------------------------------------------------
jam_puncak                                          Rentang jam puncak pelayanan
--------------------------------------------------------------------------------

                  Type: String (str14)

         Unique values: 15                        Missing "": 0/22

              Examples: "05.00 - 08.00"
                        "05:30 - 08:00"
                        "06:00 - 07:30"
                        "06:00 - 08:00"

               Warning: Variable has leading and embedded blanks.

--------------------------------------------------------------------------------
permukiman                                          Preferensi lokasi permukiman
--------------------------------------------------------------------------------

                  Type: String (str14)

         Unique values: 4                         Missing "": 0/22

            Tabulation: Freq.  Value
                            1  "Netral"
                           11  "Penting"
                            7  "Sangat penting"
                            3  "Tidak penting"

               Warning: Variable has embedded blanks.

**summarize**: berfungsi untuk membuat merangkum data kontinyu. 

Summarize ini menghitung: berapa jumlah data non-missing, mean, standar deviasi, dan nilai minimum-maksimum

In [24]:
import excel using "data/data_sosdem.xlsx", sheet("data") firstrow clear

(23 vars, 14 obs)

In [25]:
%head 5

     +-------------------------------------------------------------------------+
  1. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   26  | Laki-laki  |   Menikah  |          Jl. Cihanjuang  |     03/18  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Cibabat  | Cimahi Utara  |              Kota Cimahi  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          0   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     | Karyawan Swasta (Full-time)  | Gojek, Grab, Indriver  |        2-4 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       1-3 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  2. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   52  | Laki-laki  |   Menikah  |     Jalan A.H. Nasution  |     02/02  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     | Cipadung Wetan  |  Panyileukan  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          0   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                Wirausahawan  |           Gojek, Grab  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  3. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   35  | Laki-laki  |   Menikah  |    Jl. Sederhana No. 29  |     04/10  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Pasteur  |     Sukajadi  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          1   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |           Tidak        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  4. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   70  | Laki-laki  |   Menikah  |  Jl. Gegerkalong Girang  |     02/01  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |    Gegerkalong  |     Sukasari  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          0   |         2   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       5-7 tahun        |              Ya        |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  5. | usia  |        jk  |  status~h  |               alamat_ja  |  alamat~w  |
     |   41  | Laki-laki  |   Menikah  |       Jl. Sersan Bajuri  |     03/07  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |      Cihideung  |   Parongpong  |  Kabupaten Bandung Barat  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          0   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |       status~n        |       lama_dr~r        |        ojek_k~l        |
     |        Pribadi        |       7-9 tahun        |              Ya        |
     +-------------------------------------------------------------------------+

In [26]:
summarize usia jml_art

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        usia |         14    41.21429    11.90461         26         70
     jml_art |         14    3.642857    1.215739          2          7

Untuk mendapatkan informasi data kontinyu yang lebih detail, dapat menggunakan option `detail` setelah paket perintah `summarize`. Option ini menambahkan informasi perhitungan data kontinyu sebagai berikut.

* Persentil (termasuk median pada 50% persentil)
* Variansi
* Skewness
* Kurtosis

*Catatan: Bagian ini akan dibahas lebih lanjut pada praktiku berikutnya*

In [27]:
summarize usia jml_art, detail

                            usia
-------------------------------------------------------------
      Percentiles      Smallest
 1%           26             26
 5%           26             30
10%           30             31       Obs                  14
25%           31             31       Sum of wgt.          14

50%         38.5                      Mean           41.21429
                        Largest       Std. dev.      11.90461
75%           47             47
90%           55             52       Variance       141.7198
95%           70             55       Skewness       .9646913
99%           70             70       Kurtosis       3.430499

                           jml_art
-------------------------------------------------------------
      Percentiles      Smallest
 1%            2              2
 5%            2              3
10%            3              3       Obs                  14
25%            3              3       Sum of wgt.          14

50%            3                      Mean           3.642857
                        Largest       Std. dev.      1.215739
75%            4              4
90%            5              4       Variance       1.478022
95%            7              5       Skewness       1.520424
99%            7              7       Kurtosis       5.269482

**tabulate**: berfungsi untuk menghitung frekuensi setiap nilai dari tabel. Biasanya untuk data kategorikal.

Apabila variabel sudah berlabel (akan dibahas dibagian berikutnya), gunakan option `nolabel` untuk menampilkan makna numerik pada datanya.

In [28]:
tabulate penghasilan_pribadi

     penghasilan_pribadi |      Freq.     Percent        Cum.
-------------------------+-----------------------------------
    Di bawah Rp1.000.000 |          1        7.14        7.14
Rp1.000.000-Rp.1.999.999 |          1        7.14       14.29
 Rp2.000.000-Rp2.999.999 |          3       21.43       35.71
 Rp3.000.000-Rp3.999.999 |          5       35.71       71.43
 Rp4.000.000-Rp4.999.999 |          3       21.43       92.86
 Rp5.000.000-Rp5.999.999 |          1        7.14      100.00
-------------------------+-----------------------------------
                   Total |         14      100.00

Tabulate juga dapat menghitung frekuensio dua variabel (two-way tabulations). Gunakan `row` atau `col` untuk opsi persentase nilainya (biasanya untuk data yang digunakan saat ini adalah row percentage). Berikut adalah contohnya.

In [29]:
tab jk penghasilan_pribadi, row

+----------------+
| Key            |
|----------------|
|   frequency    |
| row percentage |
+----------------+

           |                  penghasilan_pribadi
        jk | Di bawa..  Rp1.000..  Rp2.000..  Rp3.000..  Rp4.000.. |     Total
-----------+-------------------------------------------------------+----------
 Laki-laki |         1          1          2          5          3 |        13
           |      7.69       7.69      15.38      38.46      23.08 |    100.00
-----------+-------------------------------------------------------+----------
 Perempuan |         0          0          1          0          0 |         1
           |      0.00       0.00     100.00       0.00       0.00 |    100.00
-----------+-------------------------------------------------------+----------
     Total |         1          1          3          5          3 |        14
           |      7.14       7.14      21.43      35.71      21.43 |    100.00


           | penghasila
           | n_pribadi
        jk | Rp5.000.. |     Total
-----------+-----------+----------
 Laki-laki |         1 |        13
           |      7.69 |    100.00
-----------+-----------+----------
 Perempuan |         0 |         1
           |      0.00 |    100.00
-----------+-----------+----------
     Total |         1 |        14
           |      7.14 |    100.00

In [30]:
tab jk penghasilan_pribadi, col

+-------------------+
| Key               |
|-------------------|
|     frequency     |
| column percentage |
+-------------------+

           |                  penghasilan_pribadi
        jk | Di bawa..  Rp1.000..  Rp2.000..  Rp3.000..  Rp4.000.. |     Total
-----------+-------------------------------------------------------+----------
 Laki-laki |         1          1          2          5          3 |        13
           |    100.00     100.00      66.67     100.00     100.00 |     92.86
-----------+-------------------------------------------------------+----------
 Perempuan |         0          0          1          0          0 |         1
           |      0.00       0.00      33.33       0.00       0.00 |      7.14
-----------+-------------------------------------------------------+----------
     Total |         1          1          3          5          3 |        14
           |    100.00     100.00     100.00     100.00     100.00 |    100.00


           | penghasila
           | n_pribadi
        jk | Rp5.000.. |     Total
-----------+-----------+----------
 Laki-laki |         1 |        13
           |    100.00 |     92.86
-----------+-----------+----------
 Perempuan |         0 |         1
           |      0.00 |      7.14
-----------+-----------+----------
     Total |         1 |        14
           |    100.00 |    100.00

**Ada yang tahu apa perbedaannya?**

## Data Management

### Creating, transforming, labeling variables

#### Membuat variabel

Meskipun sudah memiliki data baik dari .dta, .csv, ataupun excel, dalam proses analisis, pembuatan variabel secara manual sangat sering dibutuhkan. Contohnya adalah saat membuat variabel baru yang menampung operasi matematika dari variabel lain.

Command yang digunakan untuk membuat variabel adalah `generate`.

Berikut adalah contoh penggunaannya dalam menjumlahkan seluruh jenis kendaraan

In [58]:
use "data/data_sosdem.dta", clear

In [59]:
generate total_kendaraan = jml_motor + jml_mobil + jml_sepeda

(9 missing values generated)

In [60]:
summarize total_kendaraan jml_motor jml_mobil jml_sepeda

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
total_kend~n |          5         2.4    .5477226          2          3
   jml_motor |         14    1.214286    .4258153          1          2
   jml_mobil |         14           0           0          0          0
  jml_sepeda |          5           1           0          1          1

Apabila input variabel merupakan data missing values, maka hasilnya pun akan missing values. Hal ini terlihat dari jumlah observasi total_kendaraan yang hanya 5, sama dengan jumlah sepeda. **Apa itu missing values?**

#### Missing values pada Stata

Missing values adalah sesuatu nilai pada variabel yang tidak terdefinisi. Dalam stata biasanya nilai ini ditandai dengan `.`

Untuk data string, missing values ditandai dengan tanda `""` (empty quotes)

Missing values sangat penting untuk diidentifikasi karena akan berpengaruh terhadap kualitas analisis yang akan dilakukan (meminalisasi bias, meningkatkan kualitas model statistik, mencegah kesalahan interpretasi, dll). Praktikan diharapkan bisa mencari lebih lanjut terkait missing values ini.

Maka dari itu, missing values bisa dicek dengan melakukan selection data by condition apakah data sama dengan `.` untuk non-string dan `""` untuk data string. Selain itu, fungsi `missing()` juga bisa digunakan.

In [61]:
%browse total_kendaraan jml_motor jml_mobil jml_sepeda if total_kendaraan == .

     +-------------------------------------------+
     | total_~n   jml_mo~r   jml_mo~l   jml_se~a |
     |-------------------------------------------|
  1. |        .          1          0          . |
  2. |        .          1          0          . |
  4. |        .          1          0          . |
  5. |        .          1          0          . |
  6. |        .          2          0          . |
     |-------------------------------------------|
  7. |        .          1          0          . |
  8. |        .          1          0          . |
 12. |        .          1          0          . |
 13. |        .          1          0          . |
     +-------------------------------------------+

In [62]:
%browse total_kendaraan jml_motor jml_mobil jml_sepeda if missing(total_kendaraan)

     +-------------------------------------------+
     | total_~n   jml_mo~r   jml_mo~l   jml_se~a |
     |-------------------------------------------|
  1. |        .          1          0          . |
  2. |        .          1          0          . |
  4. |        .          1          0          . |
  5. |        .          1          0          . |
  6. |        .          2          0          . |
     |-------------------------------------------|
  7. |        .          1          0          . |
  8. |        .          1          0          . |
 12. |        .          1          0          . |
 13. |        .          1          0          . |
     +-------------------------------------------+

#### Replacing values

Setelah mengetahui cara untuk menemukan data missing values, mengisi atau mengganti data missing tersebut dengan nilai baru menjadi langkah selanjutnya.

Perintah yang digunakan untuk mengganti nilai pada variabel adalah `replace`. Biasanya dikombinasikan dengan `if` untuk melakukan replacing pada kondisi tertentu.

In [63]:
replace total_kendaraan = jml_motor + jml_mobil if missing(total_kendaraan)

(9 real changes made)

In [64]:
summarize total_kendaraan jml_motor jml_mobil jml_sepeda

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
total_kend~n |         14    1.571429    .7559289          1          3
   jml_motor |         14    1.214286    .4258153          1          2
   jml_mobil |         14           0           0          0          0
  jml_sepeda |          5           1           0          1          1

Terlihat total kendaraan saat ini memiliki 14 observasi, sesuai dengan jumlah observasi data secara keseluruhan. Hal ini terjadi karena nilai jumlah sepeda yang missing value dianggap tidak ada atau 0 dengan langsung menjumlahkan nilai jumlah motor dan mobil.

#### Renaming and recoding variables

Selain mengubah nilai melalui replace, kita juga dapat melakukannya melalui `recode`. Recode mengubah nilai berdasarkan set nilai lama dan baru. Selain recode, stata juga dapat mengubah nama variabel dengan menggunakan `rename`. Berikut adalah contoh penggunaan `rename` dan `recode` dalam kasus data jenis kelamin.

In [65]:
%head 5

     +-------------------------------------------------------------------------+
  1. |  usia   |  jk   |  status~h   |               alamat_ja   |  alamat~w   |
     |    26   |   1   |   Menikah   |          Jl. Cihanjuang   |     03/18   |
     |-----------------+-------------------------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Cibabat  | Cimahi Utara  |              Kota Cimahi  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     | Karyawan Swasta (Full-time)  | Gojek, Grab, Indriver  |        2-4 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    1-3 tahun     |       Tidak     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  2. |  usia   |  jk   |  status~h   |               alamat_ja   |  alamat~w   |
     |    52   |   1   |   Menikah   |     Jalan A.H. Nasution   |     02/02   |
     |-----------------+-------------------------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     | Cipadung Wetan  |  Panyileukan  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                Wirausahawan  |           Gojek, Grab  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |       Tidak     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  3. |  usia   |  jk   |  status~h   |               alamat_ja   |  alamat~w   |
     |    35   |   1   |   Menikah   |    Jl. Sederhana No. 29   |     04/10   |
     |-----------------+-------------------------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Pasteur  |     Sukajadi  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          1   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |       Tidak     |            2     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  4. |  usia   |  jk   |  status~h   |               alamat_ja   |  alamat~w   |
     |    70   |   1   |   Menikah   |  Jl. Gegerkalong Girang   |     02/01   |
     |-----------------+-------------------------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |    Gegerkalong  |     Sukasari  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         2   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |          Ya     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  5. |  usia   |  jk   |  status~h   |               alamat_ja   |  alamat~w   |
     |    41   |   1   |   Menikah   |       Jl. Sersan Bajuri   |     03/07   |
     |-----------------+-------------------------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |      Cihideung  |   Parongpong  |  Kabupaten Bandung Barat  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    7-9 tahun     |          Ya     |            1     |
     +-------------------------------------------------------------------------+

Data jenis kelamin menjelaskan bahwa 1 adalah laki-laki dan 0 adalah perempuan. Pada kasus ini, data ditransformasi dengan mengubah perempuan bernilai 1 dan laki-laki bernilai 0. Lalu, untuk memudahkan dalam membacam nama variabel pun diubah menjadi 'perempuan' untuk menandakan bahwa yang bernilai 1 adalah perempuan.

In [66]:
tabulate jk

         jk |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |          1        7.14        7.14
          1 |         13       92.86      100.00
------------+-----------------------------------
      Total |         14      100.00

In [67]:
rename jk perempuan

In [68]:
recode perempuan (1=0) (0=1)

(14 changes made to perempuan)

In [69]:
tabulate perempuan

         jk |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |         13       92.86       92.86
          1 |          1        7.14      100.00
------------+-----------------------------------
      Total |         14      100.00

#### Labeling variables

Untuk mempermudah membaca variabel yang memiliki format cenderung singkat, maka label variabel dapat digunakan. Label ini bisa dilihat pada bagian properties variabel (bisa dilihat melalui `describe`.

In [70]:
describe perempuan

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
perempuan       byte    %10.0g                jk

Terlihat bahwa labelnya masih berisi "jk"

Untuk mengubahnya, dapat menggunakan perintah `label variable`

In [71]:
label variable perempuan "Jenis Kelamin (Perempuan)"

In [72]:
describe perempuan

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
perempuan       byte    %10.0g                Jenis Kelamin (Perempuan)

Terlihat bahwa label sudah berubah.

#### Labeling values

Selain melakukan labeling terhadap variabel, labeling ini bisa dilakukan pada variabel. Hal ini berguna untuk memudahkan interpretasi data. Contohnya adalah pada kasus data jenis kelamin ini.

In [73]:
tab perempuan

      Jenis |
    Kelamin |
(Perempuan) |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |         13       92.86       92.86
          1 |          1        7.14      100.00
------------+-----------------------------------
      Total |         14      100.00

Terlihat bahwa jenis kelamin ditunjukkan melalui nilai 0 atau 1. Hal ini dapat mempersulit interpretasi. Maka dari itu, dilakukan labeling untuk memudahkannya. Perintah yang digunakan adalah `label define` untuk membuat label baru dan `label values` untuk mengimplementasikannya pada variabel tertentu.

In [74]:
label define jenis_kelamin 0 "Laki-laki" 1 "Perempuan" // jenis_kelamin merupakan nama label,bukan nama variabel

In [75]:
label values perempuan jenis_kelamin // menggunakan label jenis_kelamin pada variabel perempuan

In [76]:
tab perempuan

      Jenis |
    Kelamin |
(Perempuan) |      Freq.     Percent        Cum.
------------+-----------------------------------
  Laki-laki |         13       92.86       92.86
  Perempuan |          1        7.14      100.00
------------+-----------------------------------
      Total |         14      100.00

#### Encoding string into numeric

Perintah `encode` merupakan perintah untuk mengubah variabel string menjadi variabel numeric. Ingat! Hampir seluruh analisis pada stata membutuhkan data berupa numeric meskipun data tersebut adalah data nominal ataupun ordinal.

In [77]:
%head 5

     +-------------------------------------------------------------------------+
  1. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   26  | Laki-laki  |   Menikah  |          Jl. Cihanjuang  |     03/18  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Cibabat  | Cimahi Utara  |              Kota Cimahi  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     | Karyawan Swasta (Full-time)  | Gojek, Grab, Indriver  |        2-4 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    1-3 tahun     |       Tidak     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  2. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   52  | Laki-laki  |   Menikah  |     Jalan A.H. Nasution  |     02/02  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     | Cipadung Wetan  |  Panyileukan  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                Wirausahawan  |           Gojek, Grab  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |       Tidak     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  3. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   35  | Laki-laki  |   Menikah  |    Jl. Sederhana No. 29  |     04/10  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Pasteur  |     Sukajadi  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          1   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |       Tidak     |            2     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  4. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   70  | Laki-laki  |   Menikah  |  Jl. Gegerkalong Girang  |     02/01  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |    Gegerkalong  |     Sukasari  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         2   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    5-7 tahun     |          Ya     |            1     |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  5. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   41  | Laki-laki  |   Menikah  |       Jl. Sersan Bajuri  |     03/07  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |      Cihideung  |   Parongpong  |  Kabupaten Bandung Barat  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |    status~n     |    lama_dr~r     |    ojek_k~l     |     total_~n     |
     |     Pribadi     |    7-9 tahun     |          Ya     |            1     |
     +-------------------------------------------------------------------------+

Melalukan encoding pada variabel status menikah dengan membuat variabel baru untuk menyimpan hasil encoding

In [78]:
tab status_nikah

status_nika |
          h |      Freq.     Percent        Cum.
------------+-----------------------------------
      Cerai |          1        7.14        7.14
    Menikah |         13       92.86      100.00
------------+-----------------------------------
      Total |         14      100.00

In [79]:
encode status_nikah, generate(nikah_s)

In [80]:
summarize status_nikah

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
status_nikah |          0

In [81]:
summarize nikah_s

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
     nikah_s |         14    1.928571    .2672612          1          2

Perintah encode ini akan merubah variabel string menjadi numerik berdasarkan urutan alfabet pada string. Untuk mengatur ordernya secara manual, dapat perintah replace yang sebelumnya sudah dijelaskan.

#### Recode Categories Variables

Recode digunakan untuk mengkategorikan suatu nilai numerik. Contohnya adalah untuk mengkategorikan variabel usia.

In [82]:
summarize usia, detail

                            usia
-------------------------------------------------------------
      Percentiles      Smallest
 1%           26             26
 5%           26             30
10%           30             31       Obs                  14
25%           31             31       Sum of wgt.          14

50%         38.5                      Mean           41.21429
                        Largest       Std. dev.      11.90461
75%           47             47
90%           55             52       Variance       141.7198
95%           70             55       Skewness       .9646913
99%           70             70       Kurtosis       3.430499

In [83]:
recode usia (26/40=0 "Muda")(41/70=1 "Orang Tua"), generate(kelompok_usia)

(14 differences between usia and kelompok_usia)

Perintah diatas mengkelompokkan usia pada 2 kelompok:
* Muda: usia 26 hingga 40
* Orang Tua: usia 41 hingga 70

In [84]:
tab kelompok_usia

  RECODE of |
usia (usia) |      Freq.     Percent        Cum.
------------+-----------------------------------
       Muda |          7       50.00       50.00
  Orang Tua |          7       50.00      100.00
------------+-----------------------------------
      Total |         14      100.00

### Dataset Operations

#### Save dataset

Setelah berbagai macam transformasi, data disimpan menggunakan perintah `save`

In [85]:
* menyimpan dataset pada file dta baru
save "data/output/data_v1"

file data/output/data_v1.dta saved

Jika ingin menyimpan pada file yang sama, gunakan option `replace`

In [86]:
* menyimpan dataset dan overwrite file data_ready.dta
save "data/output/data_v1", replace

file data/output/data_v1.dta saved

#### Keeping and dropping variables

Dalam menyiapkan dataset, menghapus suatu variabel atau kolom akan menjadi hal yang biasa terjadi. Menghapus variabel ini dapat dilakukan dengan 2 pendekatan, yaitu `keep` untuk memilih variabel apa yang akan tetap digunakan (sisanya dihapus) dan `drop` untuk memilih variabel apa yang akan dihapus.

Biasanya keep digunakan apabila variabel yang akan dihapus ada banyak, sedangkan drop untuk menghapus sedikit variabel.

In [87]:
drop nikah_s

In [88]:
%head 5

     +-------------------------------------------------------------------------+
  1. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   26  | Laki-laki  |   Menikah  |          Jl. Cihanjuang  |     03/18  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Cibabat  | Cimahi Utara  |              Kota Cimahi  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     | Karyawan Swasta (Full-time)  | Gojek, Grab, Indriver  |        2-4 jam  |
     |-------------------------------------------------------------------------|
     |  status~n   |  lama_dr~r   |  ojek_k~l   |   total_~n   |   kelompo~a   |
     |   Pribadi   |  1-3 tahun   |     Tidak   |          1   |        Muda   |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  2. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   52  | Laki-laki  |   Menikah  |     Jalan A.H. Nasution  |     02/02  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     | Cipadung Wetan  |  Panyileukan  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                Wirausahawan  |           Gojek, Grab  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |  status~n   |  lama_dr~r   |  ojek_k~l   |   total_~n   |   kelompo~a   |
     |   Pribadi   |  5-7 tahun   |     Tidak   |          1   |   Orang Tua   |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  3. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   35  | Laki-laki  |   Menikah  |    Jl. Sederhana No. 29  |     04/10  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |        Pasteur  |     Sukajadi  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |    SMA/SMK   |          1   |          0   |          1   |         3   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |  status~n   |  lama_dr~r   |  ojek_k~l   |   total_~n   |   kelompo~a   |
     |   Pribadi   |  5-7 tahun   |     Tidak   |          2   |        Muda   |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  4. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   70  | Laki-laki  |   Menikah  |  Jl. Gegerkalong Girang  |     02/01  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |    Gegerkalong  |     Sukasari  |             Kota Bandung  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         2   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  |       8-10 jam  |
     |-------------------------------------------------------------------------|
     |  status~n   |  lama_dr~r   |  ojek_k~l   |   total_~n   |   kelompo~a   |
     |   Pribadi   |  5-7 tahun   |        Ya   |          1   |   Orang Tua   |
     +-------------------------------------------------------------------------+

     +-------------------------------------------------------------------------+
  5. | usia  | perempuan  |  status~h  |               alamat_ja  |  alamat~w  |
     |   41  | Laki-laki  |   Menikah  |       Jl. Sersan Bajuri  |     03/07  |
     |---------------------------------+---------------------------------------|
     |     alamat_kel  |   alamat_kec  |           alamat_kabkota  |  kodepos  |
     |      Cihideung  |   Parongpong  |  Kabupaten Bandung Barat  |        .  |
     |-------------------------------------------------------------------------|
     |   pendid~n   |   jml_mo~r   |   jml_mo~l   |   jml_se~a   |   jml_art   |
     |        SMP   |          1   |          0   |          .   |         4   |
     |-------------------------------------------------------------------------|
     |           posisi_rt |     penghasilan_pribadi |    penghasilan_keluarga |
     | Kepala rumah tangga | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |-------------------------------------------------------------------------|
     |            pekerjaan_selain  |              platform  |     jam_online  |
     |                   Tidak ada  |                 Gojek  | Di atas 10 jam  |
     |-------------------------------------------------------------------------|
     |  status~n   |  lama_dr~r   |  ojek_k~l   |   total_~n   |   kelompo~a   |
     |   Pribadi   |  7-9 tahun   |        Ya   |          1   |   Orang Tua   |
     +-------------------------------------------------------------------------+

In [89]:
keep usia penghasilan_pribadi penghasilan_keluarga pekerjaan_selain

In [90]:
%head 5

     +----------------------------------------------------------+
  1. | usia |     penghasilan_pribadi |    penghasilan_keluarga |
     |   26 | Rp5.000.000-Rp5.999.999 | Rp5.000.000-Rp5.999.999 |
     |----------------------------------------------------------|
     |                          pekerjaan_selain                |
     |               Karyawan Swasta (Full-time)                |
     +----------------------------------------------------------+

     +----------------------------------------------------------+
  2. | usia |     penghasilan_pribadi |    penghasilan_keluarga |
     |   52 | Rp4.000.000-Rp4.999.999 | Rp5.000.000-Rp5.999.999 |
     |----------------------------------------------------------|
     |                          pekerjaan_selain                |
     |                              Wirausahawan                |
     +----------------------------------------------------------+

     +----------------------------------------------------------+
  3. | usia |     penghasilan_pribadi |    penghasilan_keluarga |
     |   35 | Rp3.000.000-Rp3.999.999 | Rp5.000.000-Rp5.999.999 |
     |----------------------------------------------------------|
     |                          pekerjaan_selain                |
     |                                 Tidak ada                |
     +----------------------------------------------------------+

     +----------------------------------------------------------+
  4. | usia |     penghasilan_pribadi |    penghasilan_keluarga |
     |   70 | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |----------------------------------------------------------|
     |                          pekerjaan_selain                |
     |                                 Tidak ada                |
     +----------------------------------------------------------+

     +----------------------------------------------------------+
  5. | usia |     penghasilan_pribadi |    penghasilan_keluarga |
     |   41 | Rp3.000.000-Rp3.999.999 | Rp3.000.000-Rp3.999.999 |
     |----------------------------------------------------------|
     |                          pekerjaan_selain                |
     |                                 Tidak ada                |
     +----------------------------------------------------------+

Keep dan drop ini bisa digunakan menggunakan perintah kondisional (if) atau number of observation untuk menghapus atau tetap menyimpan suatu observasi

In [91]:
drop if usia > 65

(1 observation deleted)

In [92]:
summarize usia

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        usia |         13          39    8.897565         26         55

In [93]:
keep if pekerjaan_selain == "Tidak ada"

(3 observations deleted)

In [94]:
tab pekerjaan_selain

           pekerjaan_selain |      Freq.     Percent        Cum.
----------------------------+-----------------------------------
                  Tidak ada |         10      100.00      100.00
----------------------------+-----------------------------------
                      Total |         10      100.00

#### Sorting Data

Untuk melakukan sorting data digunakan perintah `sort`. Sorting ini bisa dilakukan melalui 1 atau lebih variabel

In [95]:
%head 5

     +----------------------------------------------------------------------+
     | usia       penghasilan_pribadi      penghasilan_keluarga   pekerja~n |
     |----------------------------------------------------------------------|
  1. |   35   Rp3.000.000-Rp3.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  2. |   41   Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
  3. |   42   Rp2.000.000-Rp2.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  4. |   47   Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
  5. |   30   Rp4.000.000-Rp4.999.999   Rp9.000.000-Rp9.999.999   Tidak ada |
     +----------------------------------------------------------------------+

In [96]:
sort usia

In [97]:
%head 5

     +-----------------------------------------------------------------------+
     | usia        penghasilan_pribadi      penghasilan_keluarga   pekerja~n |
     |-----------------------------------------------------------------------|
  1. |   30    Rp4.000.000-Rp4.999.999   Rp9.000.000-Rp9.999.999   Tidak ada |
  2. |   31   Rp1.000.000-Rp.1.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  3. |   31       Di bawah Rp1.000.000   Rp4.000.000-Rp4.999.999   Tidak ada |
  4. |   35    Rp3.000.000-Rp3.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  5. |   36    Rp4.000.000-Rp4.999.999      Di bawah Rp1.000.000   Tidak ada |
     +-----------------------------------------------------------------------+

In [98]:
sort usia penghasilan_pribadi

In [99]:
%head 5

     +-----------------------------------------------------------------------+
     | usia        penghasilan_pribadi      penghasilan_keluarga   pekerja~n |
     |-----------------------------------------------------------------------|
  1. |   30    Rp4.000.000-Rp4.999.999   Rp9.000.000-Rp9.999.999   Tidak ada |
  2. |   31       Di bawah Rp1.000.000   Rp4.000.000-Rp4.999.999   Tidak ada |
  3. |   31   Rp1.000.000-Rp.1.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  4. |   35    Rp3.000.000-Rp3.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  5. |   36    Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
     +-----------------------------------------------------------------------+

Selain itu, sorting juga bisa dilakukan dengan variasi ascending, descending, serta kombinasi keduanya. Hal ini bisa dilakukan melalui `gsort`

In [100]:
gsort -usia +penghasilan_pribadi // descending usia, ascending penghasilan_pribadi

In [101]:
%head 5

     +----------------------------------------------------------------------+
     | usia       penghasilan_pribadi      penghasilan_keluarga   pekerja~n |
     |----------------------------------------------------------------------|
  1. |   55   Rp2.000.000-Rp2.999.999   Rp2.000.000-Rp2.999.999   Tidak ada |
  2. |   47   Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
  3. |   42   Rp2.000.000-Rp2.999.999   Rp5.000.000-Rp5.999.999   Tidak ada |
  4. |   41   Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
  5. |   36   Rp3.000.000-Rp3.999.999   Rp3.000.000-Rp3.999.999   Tidak ada |
     +----------------------------------------------------------------------+

## Penutup

Dengan berbagai macam materi di atas, praktikan diharap bisa familiar dengan cara kerja Stata dan Jupyter dalam memproses data. Untuk memperkaya pengetahuan praktikan di luar modul, praktikan ditugaskan untuk melakukan eksplorasi terkait beberapa topik data management di Stata. Topik itu adalah sebagai berikut.

* Mengidentifikasi dan mengolah data duplikat
* Mengolah data waktu (datetime)

Bisa gunakan data yang tersedia oleh stata yang bisa diakses pada https://www.stata-press.com/data/r17/u.html. Data tersebut bisa langsung didownload atau diakses melalui command,

```stata
    webuse filename, clear
```

In [102]:
webuse datexmpl2, clear

In [103]:
%head 5

     +----------------------------------------------+
     |   id                      timestamp   action |
     |----------------------------------------------|
  1. | 1001   Tue Nov 14 08:59:43 CST 2006       15 |
  2. | 1002   Wed Nov 15 07:36:49 CST 2006       15 |
  3. | 1003   Wed Nov 15 09:21:07 CST 2006       11 |
  4. | 1002   Wed Nov 15 14:57:36 CST 2006       16 |
  5. | 1005   Thu Nov 16 08:22:53 CST 2006       12 |
     +----------------------------------------------+